
 .form_login {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-top: 190px;
 }

 .aaa{
    border-radius: 0;
    padding: 12px 15px;
    min-width: 285px;
    font-weight: 500;
    cursor: pointer;
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    border-color: #ff3e6c;
    border-radius: 3%;;
    color: #fff;
    font-size: medium;
    align-items: center;
 }
 .email{
    border-radius: 0;
    border-color:rgb(245, 242, 242);
    min-width: 280px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3%;
    font-size: medium;
    padding-bottom: 10px;
    margin-top: 15vh;

 }

 .password{
    border-radius: 0;
    border-color:rgb(245, 242, 242);
    min-width: 280px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 3%;;
        font-size: medium;
    align-items: center;
    padding-bottom: 10px;

 }
 .grid-cont{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    grid-auto-flow: column;

 }

 .grid-i{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1%;
    text-align: center;
    justify-items:center;
    align-content: center;


}
.grid-j{
    color:  #FFC0CB;
    background-color: #fae4e8;
}

::placeholder { 
    color:rgb(184, 179, 179);
    opacity: 1;
    text-align: center;
  }

  .heading{
      padding-top: 10px;
  }